@model BookCave.Models.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "UserName")?.Value;
    ViewData["Title"] = "Profile";
}

<h2>Profile info for @Model.FullName</h2>
<br>
<div>
    <div>

        <img class="profile-photo" src="@Model.Image" alt="@Model.FullName" height="80" width="80">
        <div class="profile">
        <p>Full name: @Model.FullName</p>
        <p>Email @Model.Email</p>
        <p>Address: @Model.Address</p>
        <p>ZIP: @Model.Postal</p>
        <p>Country: @Model.Country</p>
        <p>
            Favorite book:
           @if(Model.FavoriteBook == null)
           {
                <span>none selected</span>
           }
           else
           {
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.FavoriteBookId">@Model.FavoriteBook</a>
           } 
            </p>
        </div>  
        <div class="profile-buttons">
        @if(claim == Model.Email)
        {
            <a class ="btn btn-primary" asp-controller="User" asp-action="OrderHistory">View all orders</a>
            <a class ="btn btn-primary" asp-controller="User" asp-action="EditProfile">Manage profile</a>
            <br/>
            @if (this.User.IsInRole("Admin"))
            {
                <div class="profile-buttons">
                    <a class ="btn btn-primary" asp-controller="Book" asp-action="Create">Add a book</a>
                    <a class ="btn btn-primary" asp-controller="User" asp-action="Register">Register a user</a>
                </div>
            }
        }
    </div>
    

</div>
    
</div>

<fieldset class="form-group">
    <legend>Reviews: (@Model.Reviews.Count())</legend>

    <div>
        <ul type="NONE" class="list-of-reviews">
            @foreach(var review in Model.Reviews)
            {
                <div class="profile-comment-content">
                <li class="review-block">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@review.Book.BookId">
                    <img class="profile-comment-photo" src="@review.Book.Image" alt="@review.Book.Title" width="80" height="80">
                </a>
                <div class="review-content">
                <span>book: <a asp-controller="Book" asp-action="Details" asp-route-id="@review.Book.BookId">@review.Book.Title</a></span>
                <span>Rating: @review.Rating</span>
                
                    <h4>Comment:</h4>
                    <span>@review.Comment</span>
                </div>
                </li>
                </div>
                <br>
            }
        </ul>
    </div>
</fieldset>




