@model BookCave.Models.ViewModels.UserViewModel


<h2>Profile info</h2>
<div>
    <div>
        <p>Full name: @Model.FullName</p>
        <p>Email @Model.Email</p>
        <p>Address: @Model.Address</p>
        <p>ZIP: @Model.Postal</p>
        <p>Country: @Model.Country</p>
        <p>Favorite book: @Model.FavoriteBookById</p>
    </div>
    <a asp-controller="User" asp-action="OrderHistory"><button type="button">View all orders</button></a>
</div>
<h2>Reviews (Model.Reviews)</h2>




