@model BookCave.Models.ViewModels.UserViewModel

<h2>Profile info</h2>
<div>
    <div>
        <img src="@Model.Image" alt="@Model.FullName" height="80" width="80">
        <p>Full name: @Model.FullName</p>
        <p>Email @Model.Email</p>
        <p>Address: @Model.Address</p>
        <p>ZIP: @Model.Postal</p>
        <p>Country: @Model.Country</p>
        <p>
            Favorite book:
           @if(Model.FavoriteBook == null)
           {
                <span>none selected</span>
           }
           else
           {
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.FavoriteBookId">@Model.FavoriteBook</a>
           } 
            </p>           
    </div>
    
</div>
<h2>Reviews (Model.Reviews)</h2>




