@model BookCave.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Users";
}
<h2>Profile info for @Model.FullName</h2>
<div>
    <div>
        <img class="profile-photo" src="@Model.Image" alt="@Model.FullName" height="80" width="80">
        <div class="profile">
        <p>Full name: @Model.FullName</p>
        <p>Email @Model.Email</p>
        <p>Address: @Model.Address</p>
        <p>ZIP: @Model.Postal</p>
        <p>Country: @Model.Country</p>
        <p>
            Favorite book:
           @if(Model.FavoriteBook == null)
           {
                <span>none selected</span>
           }
           else
           {
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.FavoriteBookId">@Model.FavoriteBook</a>
           } 
            </p>
        </div>           
    </div>
    
</div>


<fieldset class="form-group">
    <legend>Reviews: (@Model.Reviews.Count())</legend>
    <ul id="list-of-ratings">
        @foreach(var review in Model.Reviews)
        {
            <li class="ratings-gathered">@review.Rating</li>
        }
        </ul>
        <h2>Average rating: <span id="average-value"></span> out of 5</h2>
    <div>
        <ul type="NONE" class="list-of-reviews">
            @foreach(var review in Model.Reviews)
            {
                <div class="profile-comment-content">
                <li class="review-block">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@review.Book.BookId">
                    <img class="profile-comment-photo" src="@review.Book.Image" alt="@review.Book.Title" width="80" height="80">
                </a>
                <div class="review-content">
                <span>book: <a asp-controller="Book" asp-action="Details" asp-route-id="@review.Book.BookId">@review.Book.Title</a></span>
                <span>Rating: @review.Rating</span>
                    <h4>Comment:</h4>
                    <span>@review.Comment</span>
                </div>
                </li>
                </div>
                <br>
            }
        </ul>
    </div>
</fieldset>





