@model BookCave.Models.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}
<h3>
    <em>Review</em> Your Cart:
</h3>
<p class="button">@Html.ActionLink("Checkout >>", "Checkout", "Checkout")</p>
<div id="update-message">
</div>

<table>
    <tr>
        <th>Book Name </th>
        <th> Price (each) </th>
        <th> Quantity</th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.BookId">
            <td>
            <a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookId">@item.Book.Title</a>
            </td>
            <td>
            @item.Book.Price
            </td>
            <td id="item-count-@item.BookId">
            <button id="dec" class="btn" type="button">-</button>
            @item.count
            <button id="inc" class="btn" type="button">+</button>
            </td>
            <td>
                <a class="RemoveLink" id="@item.BookId">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>