@model BookCave.Models.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}
<h3>
    <em>Review</em> Your Cart:
</h3>
<div id="update-message">
</div>
<div id="shoppingcart-whole">
    
    <table id="shopping-cart-table" class="table table-hover table-condensed">
        <tr>
            <th>Book Name </th>
            <th> Price(each) </th>
            <th> Quantity</th>
            <th></th>
        </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.BookId">
            <td>
            <img src="@item.Book.Image" alt="@item.Book.Title" width="40" height="40">
            <a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookId">@item.Book.Title</a>&nbsp;
            </td>
            <td>
            @if(!item.Book.OnSale)
            {
                @item.Book.Price
            }
            else
            {
                double price = Math.Round((item.Book.Price * (1 - ((double)item.Book.Discount / 100))), 2);
                
                <p>@price</p>
            }
            </td>
            <td id="item-count-@item.BookId">
            <button class="btn dec" type="button" data-id="@item.BookId">-</button>
            @item.count
            <a asp-controller="ShoppingCart" asp-action="IncBook" asp-route-id="@item.BookId">
            <button class="btn inc" type="button" data-id="@item.BookId">+</button>
            </a>
            </td>
            <td>
                <a>
                    &nbsp;<button class="RemoveLink btn btn-danger btn-sm" data-id="@item.BookId">Remove from cart</button>
                </a>
            </td>
        </tr>
    
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            $@Model.CartTotal
        </td>
    </tr>
    <tr>
        <td>
            Shipping:
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
            @if(Model.CartTotal >= 50)
            {
                <p>Free</p>
            }
            else if(Model.CartTotal < 1)
            {
                <p>No books means nothing to ship!<br> please consider buying a book.</p>
            }
            else
            {
                <P>$ 5</P>
            }
        </td>
    </tr>
</table>
</div>
<br>

<a asp-controller="Checkout" asp-action="Checkout" >
    <button type="button" class="btn btn-info" class="add-to-cart-button">
        Proceed to checkout
    </button>
</a>