@model List<BookCave.Models.ViewModels.BookListViewModel>
@{
    ViewData["Title"] = "Search results";
}
<div class="search-bar">
    <h3><b>Search for a book</b></h3>
    <form method="get" id="front-page-search" asp-action="SearchResults">

        <select class="form-control" name="genre" form="front-page-search" id="select-genres">
            <option value="" disabled selected>Genre</option>
            <option value="classics" name="genre">Classics</option>
            <option value="comics" name="genre">Comics</option>
            <option value="drama" name="genre">Drama</option>
            <option value="educational" name="genre">Educational</option>
            <option value="fantasy" name="genre">Fantasy</option>
            <option value="horror" name="genre">Horror</option>
            <option value="scifi" name="genre">Science fiction</option>
            <option value="thriller" name="genre">Thriller</option>
        </select>
        
        <input type="search" class="form-control" id="search-input" name="searchString" placeholder="Book title, author or ISBN">
        <input type="submit" value="Search" class="btn btn-primary" id="search-button">
    </form>
</div>
<div id="search-results-container">
    <div id="filter-and-results-container">
        <h2>Search results</h2>
        <br>
        <div class="filter-radio-buttons">
                <label class="radio-inline">
                    <input type="radio" name="alpharadio" id="ar1">A-Z
                </label>
                <label class="radio-inline">
                    <input type="radio" name="alpharadio" id="ar2">Z-A
                </label>
                <label class="radio-inline">
                    <input type="radio" name="priceradio" id="pr1">Price: highest
                </label>
                <label class="radio-inline">
                    <input type="radio" name="priceradio" id="pr2">Price: lowest
                </label>
        </div>
    </div>
    <div id="random-good-reads">
        <form>
            <div id="random-books">
                @if(Model.Count() == 0)
                {
                    <h2>No books found</h2>
                }
                @foreach(var book in Model)
                {
                    <ul class="individual-books-in-search-container">
                    <span>
                        <li><img src="@book.Image" alt="book-cover" width="80" height="120"></li>
                        <li><a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId"><i>@book.Title</i></a></li> 
                        <li><a asp-controller="Book" asp-action="AuthorDetails" asp-route-id="@book.BookId">@book.Author</a></li>
                        <li>@book.Genre</li>
                        <li>
                            <div id="price-of-item-front-page"><b>$@book.Price</b></div>
                            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@book.BookId">
                                <button type="button" class="btn btn-info btn-lg" class="add-to-cart-button">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </button>
                            </a>
                        </li>
                    </span>
                    </ul>
                }
            </div>
        </form>
    </div>
</div>