@model List<BookCave.Models.ViewModels.BookListViewModel>
@{
    ViewData["Title"] = "Top Ten";
}

<h1>Top ten books</h1>
<div>
    <table class="table table-striped table-hover">
        <tr>
            <th><b>Title</b></th>
            <th><b>Author</b></th>
            <th><b>Year</b></th>
            <th><b>Price</b></th>
        </tr>
        <!--@foreach(var book in Model)
        {
            <tr>
                <td><a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId">@book.Title</a></td> 
                <td>@book.Author</td>
                <td>@book.ReleaseYear</td>
                <td>@book.Price</td>
            </tr>
        }-->
    </table>
</div>