@model List<BookCave.Models.ViewModels.BookListViewModel>
@{
    ViewData["Title"] = "Top Ten";
}

<h1 id="top-ten-title"><b>Top ten rated books</b></h1>
<div>
    <table class="table table-striped table-hover">
        <ol>
            <th><b></b></th> <!--Cover-->
            <th><b>Title</b></th>
            <th><b>Author</b></th>
            <th><b>Year</b></th>
            <th><b>Price</b></th>
        </tr>
        @foreach(var book in Model)
        {
            <tr>
                <td><a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId"><img src="@book.Image" alt="coverimage" width="80" height="120"></a></td>
                <td id="title-from-top-ten"><a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId"><i>@book.Title</i></a></td> 
                <td><a asp-controller="Book" asp-action="AuthorDetails" asp-route-id="@book.BookId">@book.Author</a></td>
                <td>@book.ReleaseYear</td>
                <td>$@book.Price</td>
            </tr>
        }
    </table>
</div>