@model BookCave.Models.ViewModels.BookAndReviewListViewModel
@using Microsoft.AspNetCore.Identity
@using System.Web
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Book details";
}

<!--Todo-->
<div class="central-container">
    <div class="view-box-book-details" id="left-view-box">
        <h2><i>@Model.Title</i></h2>
        <img src="@Model.Image" alt="coverimage" width="160" height="240"></a>
        <ul class="left-view-box-details-list">
            <li>@Model.Author</li>
            <li>@Model.Genre</li> 
            <li>@Model.ISBN</li>
        </ul>
    </div>
    <div class="view-box-book-details" id="right-view-box">
            @if (Model.Stock != 0)
            {
                <span id="in-stock-text">In stock</span>
            }
            else{
                <span id="out-of-stock-text">Out of stock</span>
            }
            @if (Model.OnSale)
            {
                <div id="on-sale-text">
                    <span id="bookPrice">@Model.Price</span>
                    <span id="bookDiscount">@Model.Discount</span>
                    <i>@Model.Discount% discount, original price: @Model.Price</i>
                    <br>
                    <span id="priceAfterDiscount"></span>
                </div>
            }
            else{
                @Model.Price;
            }
            @if(Model.Stock == 0)
            {
                <!-- display none -->
            }
            else{
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]">
                        <span class="glyphicon glyphicon-minus"></span>
                            </button>
                    </span>
                    <input type="text" name="quant[2]" class="form-control input-number" value="1" min="1" max="100">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                        <span class="glyphicon glyphicon-plus"></span>
                            </button>
                    </span>
                </div>
            }
        
        @if(@Model.Stock != 0)
        {
            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.BookId">
                <button type="button" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
            </a>
        }
        else{
            <button type="button" class="btn btn-info btn-lg" id="waiting-list-button">Add to waiting list</button>
        }
        
    </div>    
</div>
<div>
    <input type="hidden" id="BookId" value="@Model.BookId">
    @if (this.User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-primary" asp-controller="Book" asp-action="Edit" asp-route-id="@Model.BookId">Edit this book</button>
        <button type="button" class="btn btn-danger" id="remove-book">Remove book</button>

    }
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-default" id="change-favorite-book">Make this book your favorite</a>
        <div class="container">
            <div class="row" style="margin-top:40px;">
                <div class="col-md-6">
                    <div class="well well-sm">
                        <div class="text-right">
                            <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                        </div>
                        <div class="row" id="post-review-box" style="display:none;">
                            <div class="col-md-12">
                                <form asp-action="Details" method="post">
                                    <input id="ratings-hidden" type="hidden"> 
                                    <textarea class="form-control animated" cols="50" id="new-review" name="Comment" placeholder="Enter your review here..." rows="5"></textarea>
                                    <input type="hidden" name="BookId" value="@Model.BookId">
                                    <input type="hidden" name="BookAverageRating" value="@Model.ReviewScore">
                                    <input type="hidden" name="AmountOfRatings" value="@Model.Reviews.Count()">
                                    <div class="text-right">
                                        <!--<div class="stars starrr" data-rating="0"></div>-->
                                        <input id="number" type="number" name="Rating" value="1" min="1" max="5" >
                                        <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                                        <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                        <button class="btn btn-success btn-lg" type="submit">Submit review</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    }
</div>
<hr>
<br>
<fieldset class="form-group">
    <legend>Reviews: (@Model.Reviews.Count())</legend>
    <ul id="list-of-ratings">
        @foreach(var review in Model.Reviews)
        {
            <li class="ratings-gathered">@review.Rating</li>
        }
        </ul>
        <h2>Average rating: <span id="average-value"></span></h2>
    <div>
        <ul id="list-of-reviews">
            @foreach(var review in Model.Reviews)
            {
                <li class="review-block">
                @review.UserId,
                @review.Rating,
                @review.Comment
                </li>
            }

        </ul>
    </div>
</fieldset>