@model BookCave.Models.ViewModels.BookListViewModel
@{
    ViewData["Title"] = "Book details";
}

<!--Todo-->
<div class="central-container">
    <div class="view-box-book-details" id="left-view-box">
        <h2><i>@Model.Title</i></h2>
        <img src="@Model.Image" alt="coverimage" width="160" height="240"></a>
        <ul class="left-view-box-details-list">
            <li>@Model.Author</li>
            <li>@Model.Genre</li> 
            <li>@Model.ISBN</li>
        </ul>
    </div>
    <div class="view-box-book-details" id="right-view-box">
            @if (Model.Stock != 0)
            {
                <span id="in-stock-text">In stock</span>
            }
            else{
                <span id="out-of-stock-text">Out of stock</span>
            }
            $@Model.Price
            @if(Model.Stock == 0)
            {
                <!-- display none -->
            }
            else{
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]">
                        <span class="glyphicon glyphicon-minus"></span>
                            </button>
                    </span>
                    <input type="text" name="quant[2]" class="form-control input-number" value="1" min="1" max="100">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                        <span class="glyphicon glyphicon-plus"></span>
                            </button>
                    </span>
                </div>
            }
        <button type="button" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>
    </div>    
</div>

<br>
Ratings here..
<hr>
<div class="container">
	<div class="row" style="margin-top:40px;">
		<div class="col-md-6">
    	<div class="well well-sm">
            <div class="text-right">
                <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
            </div>
        
            <div class="row" id="post-review-box" style="display:none;">
                <div class="col-md-12">
                    <form accept-charset="UTF-8" action="" method="post">
                        <input id="ratings-hidden" name="rating" type="hidden"> 
                        <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
        
                        <div class="text-right">
                            <div class="stars starrr" data-rating="0"></div>
                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                            <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                            <button class="btn btn-success btn-lg" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
         
		</div>
	</div>
</div>
