@model BookCave.Models.ViewModels.BookAndReviewListViewModel
@using Microsoft.AspNetCore.Identity
@using System.Web
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Book details";
}

<!--Todo-->
<div class="central-container">
    <div class="view-box-book-details" id="left-view-box">
        <h1><i>@Model.Title</i></h1>
        <img id="Details-photo" src="@Model.Image" alt="coverimage" width="160" height="240">
        <ul type="none" class="left-view-box-details-list">
            <li><h2>By: <a asp-controller="Book" asp-action="AuthorDetails" asp-route-id="@Model.BookId">@Model.Author</a><h2></li>
            <li class="list-group-item"> Genre: @Model.Genre</li> 
            <li class="list-group-item"> ISBN: @Model.ISBN</li>
        </ul>
    </div>
    <div class="view-box-book-details" id="right-view-box">
            @if (Model.Stock != 0)
            {
                <span id="in-stock-text">In stock: @Model.Stock</span>
            }
            else{
                <span id="out-of-stock-text">Out of stock</span>
            }
            @if (Model.OnSale)
            {
                <div id="on-sale-text">
                    <i><span id="discount-value">@Model.Discount</span>% discount, original price: $<span id="original-price">@Model.Price</span></i>
                    <br>
                </div>
                <span>Price: $@Model.Price</span>
            }
            else{
                <span>Price: $@Model.Price</span>
            }
            @if(Model.Stock == 0)
            {
                <!-- display none -->
            }
            
        
        @if(@Model.Stock != 0)
        {
            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.BookId" class="add-to-cart-button">
                <button type="button" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
            </a>
        }
        
    </div>    
</div>
<div>
    <input type="hidden" id="BookId" value="@Model.BookId">
    @if (this.User.IsInRole("Admin"))
    {
        <div id="admin-button-details">
        <a class="btn btn-primary" asp-controller="Book" asp-action="Edit" asp-route-id="@Model.BookId">Edit this book</a>
        <form asp-controller="Book" asp-action="RemoveBook" asp-route-id="@Model.BookId" method="post">
            <input type="hidden" name="id" value="@Model.BookId">
            <button type="submit"  class="btn btn-danger">Remove book</button>
        </form>
        </div>
    }
    @if (SignInManager.IsSignedIn(User))
    {
        <div id="favorite-book-btn">
        <button type="button" class="btn btn-default" id="change-favorite-book">Make this book your favorite</button>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="well well-sm">
                        <div class="text-right">
                            <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                        </div>
                        <div class="row" id="post-review-box" style="display:none;">
                            <div class="col-md-12">
                                <form asp-action="Details" method="post">
                                    <input id="ratings-hidden" type="hidden"> 
                                    <textarea class="form-control animated" cols="50" id="new-review" name="Comment" placeholder="Enter your review here..." rows="5"></textarea>
                                    <input type="hidden" name="BookId" value="@Model.BookId">
                                    <input type="hidden" name="BookAverageRating" value="@Model.ReviewScore">
                                    <input type="hidden" name="AmountOfRatings" value="@Model.Reviews.Count()">
                                    <div class="text-right">
                                        <p>Please leave a rating between 1-5</p>
                                        <input id="number" type="number" name="Rating" value="1" min="1" max="5" >
                                        <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                                        <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                        <button class="btn btn-success btn-lg" type="submit">Submit review</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    }
    else
    {
        <h3>Log in or register to leave a review</h3>
    }
</div>

<fieldset class="form-group">
    <legend>Reviews: (@Model.Reviews.Count())</legend>
    <ul id="list-of-ratings">
        @foreach(var review in Model.Reviews)
        {
            <li class="ratings-gathered">@review.Rating</li>
        }
        </ul>
        <h2>Average rating: <span id="average-value"></span></h2>
    <div>
        <ul type="NONE" id="list-of-reviews">
            @foreach(var review in Model.Reviews)
            {
                <div id="comment-whole">
                
                <li class="review-block">
                <div id="comment-head">
                <a asp-controller="User" asp-action="UserDetails" asp-route-id="@review.User.UserId">
                    <img id="review-photo" src="@review.User.Image" alt="@review.User.FullName" width="40" height="40">
                </a>
                <span>Made by: <a asp-controller="User" asp-action="UserDetails" asp-route-id="@review.User.UserId">@review.User.FullName</a></span>
                <span>Rating: @review.Rating</span>
                </div>
                <div id="comment-content">
                    <h4>Comment:</h4>
                    <span>@review.Comment</span>
                </div>
                </li>
                </div>
                <br>
                
            }

        </ul>
    </div>
</fieldset>
