@model BookCave.Models.ViewModels.BookListViewModel
@{
    ViewData["Title"] = "Book details";
}

<!--Todo-->
<div class="central-container">
    <div class="view-box-book-details" id="left-view-box">
        <h2><i>@Model.Title</i></h2>
        <img src="@Model.Image" alt="coverimage" width="160" height="240"></a>
        <ul class="left-view-box-details-list">
            <li>@Model.Author</li>
            <li>@Model.Genre</li> 
            <li>@Model.ISBN</li>
        </ul>
    </div>
    <div class="view-box-book-details" id="right-view-box">
        <ul>
            @if (Model.Stock != 0)
            {
                <li id="in-stock-text">In stock</li>
            }
            else{
                <li id="out-of-stock-text">Out of stock</li>
            }
            <li>$@Model.Price</li>

            <li>
                @if(Model.Stock == 0)
                {
                    <!-- display none -->
                }
                else{
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-minus"></span>
                                </button>
                        </span>
                        <input type="text" name="quant[2]" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-plus"></span>
                                </button>
                        </span>
                    </div>
                }
            </li>

            <li>
                <button type="button" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
            </li>
        </ul>
    </div>    
</div>

<br>
Ratings here..
<hr>
Comment system here..
