@model BookCave.Models.ViewModels.BookListViewModel
@{
    ViewData["Title"] = "edit a book";
}
<h1>Edit book</h1>
<form asp-action="Edit" asp-controller="Book" class="form-horizontal" method="POST">
    <input type="hidden" asp-for="BookId" value="@Model.BookId">
    <div class="form-group">
        <label asp-for="Title">Book title:</label>
        <input type="text" asp-for="Title" class="form-control" Value="@Model.Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author">Author:</label>
        <input type="text" asp-for="Author" class="form-control" Value="@Model.Author">
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseYear">Publish date:</label>
        <input type="number" asp-for="ReleaseYear" class="form-control" Value="@Model.ReleaseYear">
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre">Genre:</label>
        <input type="text" asp-for="Genre" class="form-control" Value="@Model.Genre">
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ISBN">Book ISBN:</label>
        <input type="text" asp-for="ISBN" class="form-control" Value="@Model.ISBN">
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price:</label>
        <input type="text" name="Price" class="form-control" Value="@Model.Price" >
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title">in-Stock:</label>
        <input type="text" asp-for="Stock" class="form-control" Value="@Model.Stock">
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Top seller
        <input type="checkbox" asp-for="TopSeller" class="checkbox">
        </label>
    </div>
    <div class="form-group">
        <label> On sale
        <input type="checkbox" asp-for="OnSale" class="checkbox">
        </label>
    </div>
    <div class="form-group">
        <label asp-for="Discount">Discount:</label>
        <input type="number" asp-for="Discount" class="form-control" Value="@Model.Discount">
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image:</label>
        <input type="text" asp-for="Image" class="form-control" Value="@Model.Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Update">
    </div>
</form>